.container
  .row
    .col-xs-12
      %h1 Lit Guide: #{@lit_guide.title}
      %p= link_to 'Back to all Lit Guides', lit_guides_path
  .row
    .col-xs-12.col-sm-8
      #text
        = @lit_guide.text.html_safe
    .col-xs-12.col-sm-4
      .sidebar-notes
        - if @lit_guide.notes.length > 0
          - @lit_guide.notes.each do |note|
            = render '/notes/note', :note => note
        - else
          %p{class: 'text-center'} No notes

%div{id: 'note-saved-banner'} Note saved!
%input{type: 'hidden', name: 'lit_guide_id', id: 'lit_guide_id', value: @lit_guide.id}